<h2>ユーザ情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, autofocus: true, autocomplete: "username" %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :birth_ym %><br />
    <%= f.text_field :birth_ym %>
  </div>
  <div class="field">
    <%= f.label :work_idt %><br />
    <%= f.text_field :work_idt %>
  </div>
  <div class="field">
    <%= f.label :work_comp %><br />
    <%= f.text_field :work_comp %>
  </div>
  <div class="field">
    <%= f.label :work_ocpn %><br />
    <%= f.text_field :work_ocpn %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(パスワードを変更しない場合は、空白のままにして下さい)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上でご入力下さい</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><i>(変更後パスワードをもう一度ご入力下さい)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<br>
<h3>アカウントを削除します。</h3>

<p>削除したい場合は下記をクリック <%= button_to "削除", registration_path(resource_name), data: { confirm: "削除します。よろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
