<% if comment.errors.present? %>
    <ul id="error_explanation">
        <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with(model: [community, post, comment], local: true) do |f| %>
    <div class="form-group">
        <%= f.label "写真のアップロード" %>
        <%= f.file_field :image, class:'form-control-file' %>
    </div>
    <div class="form-group">
        <span class="must">必須</span><%= f.label "評価" %><br>
        <%= f.collection_select :score, code.where(code_id: "5"), :code, :name, {include_blank: '評価を選択'}, {class: "form-control"} %>
    </div>
    <div class="form-group">
        <%= f.label "口コミ内容" %>
        <%= f.text_area :content, row:5, class: 'form-control', id:'comment-content' %>
    </div>
    <div class="form-group">
        <%= f.label "訪問日" %><br>
        <%= f.date_field :visitday, class:'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label "利用シーン" %><br>
        <%= f.collection_select :scene, code.where(code_id: "3"), :code, :name, {include_blank: '利用シーンを選択'}, {class: "form-control"} %>
    </div>
    <div class="form-group">
        <%= f.label "利用人数" %><br>
        <%= f.collection_select :people, code.where(code_id: "4"), :code, :name, {include_blank: '利用人数を選択'}, {class: "form-control"} %>
    </div>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.hidden_field :community_id, value: community.id %>
    <%= f.submit "口コミを登録する" %>
<% end %>