<% provide(:title, "口コミ詳細") %>
<% breadcrumb :comment_show, @comment.post.community, @comment.post, @comment %>
<%= breadcrumbs separator: " &rsaquo; " %>
<br>
<div class="container comment-wrapper">
    <h3><i class="fas fa-comment"></i> 口コミの詳細  （<%= @comment.post.title %>）</h3>
    <div class="comment-linkbtn">
        <% if @comment.user == current_user %>
            <%= link_to "編集",edit_community_post_comment_path(@comment.post.community,@comment.post,@comment), class:"mini-green-link-btn font-bold text-line-none cmt-edit" %>
        <% end %>
        <% if @comment.user == current_user %>
            <%= link_to "削除", community_post_comment_path(@comment.post.community,@comment.post,@comment), method: :delete, data:{ confirm: "口コミを削除します。よろしいですか？" } ,class:"mini-red-link-btn font-bold text-line-none cmt-delete" %>
        <% end %>
    </div>
    <div class="row cmnt-main">
        <div class="col-sm-12 col-md-6">
        <% if @comment.image.attached? %>
            <%= image_tag @comment.image, class:"card-img-top" %>
        <% else %>
            <%= image_tag ("no_image.png"), class:"card-img-top" %>
        <% end %>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-6">
                    <span class="rating-title">評価</span>&emsp;<%= @comment.score %>
                    <div class="cmnt-info mt-1">
                        <div class="scene-tag"><span class="mini-item-name-gray">利用シーン：</span><%= user_code_name("3",@comment.scene) %></div>
                        <div class="people-tag"><span class="mini-item-name-gray">利用人数：</span><%= user_code_name("4",@comment.people) %></div>
                        <div><span class="mini-item-name-gray">訪問日：</span><%= @comment.visitday.strftime("%Y/%m/%d") %></div>
                    </div>
                </div>
                <div class="col-6 m-auto0">
                    <%= link_to user_path(@comment.user), class:"text-line-none" do %>
                        <% if @comment.user.image.attached? %>
                            <span class="user-icon"><%= @comment.user.image %></span>
                        <% else %>
                            <%= image_tag ("no_image.png"), class:"user-icon" %>
                        <% end %>
                            <span class="font-size-mid"><%= @comment.user.username %></span>
                    <% end %>
                </div>
            </div>
            <div class="content-box">
                <%= simple_format(h(@comment.content), {}, sanitize: false, wrapper_tag:"div") %>
            </div>
        </div>
    </div>
</div>
