<div class="container userwrapper">
    <h3><i class="fas fa-user"></i> ユーザ情報</h3>
    <div class="row userinfo">
        <div class="col-lg-6 userinfo-left">
            <div class="user-image-name">
                <% if @user.image.attached? %>
                    <%= image_tag @user.image, class:"user-icon" %>
                <% else %>
                    <%= image_tag ("no_image.png"), class:"user-icon" %>
                <% end %>
                &nbsp<%= @user.username %>
                <br>
            </div>
            <div class="user-age-gender">
                <% begin %>
                    <%= (Date.today.strftime("%Y%m%d").to_i - @user.birth_ym.strftime("%Y%m%d").to_i) / 10000 %>歳
                <% rescue %>
                    <%= %>
                <% end %>
                <%= @user.gender %>
                <br>
            </div>
            <div class="user-work-info">
                勤務先業界：<%= @user.work_idt %><br>
                職種：<%= @user.work_ocpn %>
            </div>
            <!-- follow -->
            <%= render partial: 'shared/follow', locals: {user: @user} %>
        </div>
        <div class="col-lg-6 userinfo-right">
            <!-- グラフ -->
        </div>
    </div>
        <div class="col-12">
            <!-- 最近の口コミ -->
        </div>
        <div class="col-12">
            <!-- 所属コミュニティ -->
        </div>
</div>


