<h1>ユーザ情報</h1>
<div class="nav justify-content-end"><%= link_to '一覧',posts_path, class:'nav-link' %></div>
<table class="table table-hover">
    <tbody>
        <tr>
            <th><%= User.human_attribute_name(:user_id) %></th>
            <td><%= @user.user_id %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:username) %></th>
            <td><%= @user.username %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:email) %></th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:age) %></th>
            <td><%= @user.age %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:birth_ym) %></th>
            <td><%= @user.birth_ym %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:work_idt) %></th>
            <td><%= @user.work_idt %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:work_comp) %></th>
            <td><%= @user.work_comp %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:work_ocpn) %></th>
            <td><%= @user.work_ocpn %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:gender) %></th>
            <td><%= @user.gender %></td>
        </tr>
        <tr>
            <th><%= User.human_attribute_name(:image) %></th>
            <td><%= @user.image %></td>
        </tr>
    </tbody>
</table>
<p>
    <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
    <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
    <% end %>
</p>
