<div id="follow-<%= user.id %>" class="follow">
    <div class="follow-count">
        <div class="follow-container">
            <span class="follow-label">フォロー</span><br>
            <%= link_to user.follower.count, follower_user_path(user), class: "follow-count-link" %>
        </div>
        <div class="follower-container">
            <span class="follow-label">フォロワー</span><br>
            <%= link_to user.followed.count, followed_user_path(user), class: "follow-count-link" %>
        </div>
    </div>
    <div class="follow-link">
        <% if user_signed_in? %>
            <% if current_user.id != user.id %>
                <% if current_user.following?(user) %>
                    <%= link_to 'フォロー中', unfollow_path(user.id), method: :post, remote: true, class: "unfollow-btn" %>
                <% else %>
                    <%= link_to 'フォロー', follow_path(user.id), method: :post, remote: true, class: "follow-btn" %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>