<header class="app-title navbar navbar-expand-md navbar-dark bg-dark">
    <%= link_to "グルコミュ", root_path, class:"header_logo navbar-brand text-line-none" %>
    <nav>
        <div class="loginstauts">
        <% if user_signed_in? %>
            <span class="loginuser-name"><strong><%= current_user.username %></strong>でログインしています。</span>
            <%= link_to "マイページ", user_path(current_user) %>
            | <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data:{ confirm: "ログアウトします。よろしいですか？" } %>
        <% else %>
            <%= link_to "ユーザ登録", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
        <% end %>
            | <%= link_to "グループ一覧", communities_path %>
            | <%= link_to "ユーザ一覧", users_path %>
        </div>
    </nav>
</header>