<div class="like_btn-<%= post.id %>">
<% if user_signed_in? %>
    <% like = Like.find_by(user_id: current_user.id ,post_id: post.id) %>
    <% if like != nil %>
        <%= link_to community_post_like_path(community,post, like), method: :delete, remote: true do %>
            <i class="fas fa-heart"></i>
        <% end %>
    <% else %>
        <%= link_to community_post_likes_path(community,post), method: :post, remote: true do %>
            <i class="far fa-heart"></i>
        <% end %>
    <% end %>
    <span>
        <%= post.likes_count %>
    </span>
<% else %>
    <i class="fas fa-heart"></i>
    <span>
        <%= post.likes_count %>
    </span>
<% end %>
</div>
