<div class="row post-index">
    <% posts.each do |post| %>
        <div class = "col-12 col-sm-6 col-lg-4 mb-5">
            <!-- カード START -->
            <div class="card card-post">
                <%= link_to community_post_path(post.community,post) do %>
                    <% if post.image.attached? %>
                        <%= image_tag post.image, class:"card-img-top" %>
                    <% else %>
                        <%= image_tag ("no_image.png"), class:"card-img-top" %>
                    <% end %>
                <% end %>
                <div class="card-body">
                    <p class="card-title"><%= post.title %></p>
                    <div class="card-text">
                        <div><%= post.prefecture.name if post.prefecture_code.present? %></div>
                        <div><span class="mini-item-name-gray">更新日：</span><%= post.updated_at.strftime("%Y/%m/%d") %></div>
                        <div><i class="fas fa-comments"></i> <%= post.comments.count %></div>
                        <span class="<%= rest_type_class(post.rest_type) %> font-size-mid text-color-white mt-2 p-1"><%= user_code_name("2", post.rest_type) %></span>
                    </div>
                    <div class="text-right" id="likes_buttons_<%= post.id %>">
                        <%= render partial: 'shared/like', locals: {community: post.community, post: post} %>
                    </div>
                </div>
            </div>
            <!-- カード END -->
        </div>
    <% end %>
</div>