<div class="row">
    <% posts.each do |post| %>
        <div class = "col-12 col-sm-6 col-lg-4 mb-5">
            <!-- カード START -->
            <div class="card">
                <%= link_to community_post_path(post.community,post) do %>
                    <% if post.image.attached? %>
                        <%= image_tag post.image, class:"card-img-top" %>
                    <% else %>
                        <%= image_tag ("no_image.png"), class:"card-img-top" %>
                    <% end %>
                <% end %>
                <div class="card-body">
                    <p class="card-title"><%= post.title %></p>
                    <p><% post.rest_type %></p>
                    <div class="card-text">
                        <span>
                            <% if post.prefecture_code.present? %>
                                <%= post.prefecture.name %>
                            <% end %>
                        </span><br>
                        <span><%= post.area %></span>
                        <span><%= link_to "詳細", community_post_path(post.community,post), class: "card-link" %></span><br>
                        <span class="mini-item-name-gray">更新日：</span><%= post.updated_at.strftime("%Y/%m/%d") %><br>
                        <span><i class="fas fa-comments"></i> <%= post.comments.count %></span>
                    </div>
                    <div class="text-right" id="likes_buttons_<%= post.id %>">
                        <%= render partial: 'shared/like', locals: {community: post.community, post: post} %>
                    </div>
                </div>
            </div>
            <!-- カード END -->
        </div>
    <% end %>
</div>