<% if post.errors.present? %>
    <%= render partial:'shared/error_explanation', locals:{object: post} %>
<% end %>
<%= form_with(model: [community,post] ,local: true) do |f| %>
    <div class="form-group">
        <%= f.label "写真のアップロード" %>
        <%= f.file_field :image %>
    </div>
    <div class="form-group">
        <span class="must">必須</span><%= f.label "店名" %>
        <%= f.text_field :title, class:'form-control', id: 'title_name' %>
    </div>
    <div class="form-group">
        <span class="must">必須</span><%= f.label "お店の説明" %>
        <%= f.text_area :description, row:5, class: 'form-control', id:'post_description' %>
    </div>
    <div class="form-group">
        <span class="must">必須</span><%= f.label "都道府県" %><br>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {include_blank: '都道府県を選択してください'}, {class: "form-control"} %>
    </div>
    <div class="form-group">
        <label for="post_住所">住所（<a href="#gmapnew">住所検索</a>から貼り付け可能）</label>
        <%= f.text_field :address, class: 'form-control', id:'post_address', placeholder: "住所" %>
    </div>
    <div class="form-group">
        <span class="must">必須</span><%= f.label "料理ジャンル" %><br>
        <%= f.collection_select :rest_type, code.where(code_id: "2"), :code, :name, {include_blank: '料理ジャンルを選択してください'}, {class: "form-control"} %>
    </div>
    <%= f.submit "更新する", class:'btn btn-primary' %>
    <%= link_to '戻る', community_posts_path(community), class:'btn' %>
<% end %>
<%= render partial: 'shared/gmap-new' %>
