<h1>投稿一覧</h1>
<div><%= link_to '新規投稿', new_post_path, class:'btn btn-primary' %></div>
<br>
<%= search_form_for @search do |f| %>
  <%= f.label :user_user_id_eq, "ユーザID:" %>
  <%= f.search_field :user_user_id_cont %>
  &nbsp&nbsp<%= f.label :title_cont, "タイトルを含む:" %>
  <%= f.search_field :title_cont %>
  &nbsp&nbsp<%= f.submit "検索" %>
<% end %>
<br>
<div class="mb-4">
    <table class="table table-hover">
        <div class="thead thead-light">
            <tr>
                <th><%= Post.human_attribute_name(:user_id) %></th>
                <th><%= Post.human_attribute_name(:title) %></th>
                <th></th>
                <th><%= Post.human_attribute_name(:created_at) %></th>
                <th></th>
            </tr>
        <div class="tbody">
        <% @posts.each do |post| %>
            <tr id="post-<%= post.id %>">
                <td><%= link_to post.user.user_id, user_path(post.user_id) %></td>
                <td><%= link_to post.title, post_path(post) %></td>
                <td>
                    <%= render partial: 'shared/like', locals: {post: post} %>
                </td>
                <td><%= post.created_at %></td>
                <td>
                    <% if user_signed_in? %>
                        <% if post.user.user_id == current_user.user_id %>
                            <%= link_to '編集',edit_post_path(post),class:'btn btn-primary mr-3' %>
                            <%= link_to '削除', post, method: :delete, data:{ confirm: "投稿「#{post.title}」を削除します。よろしいですか？" } ,class:'btn btn-danger' %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </div>
        </div>
    </table>
</div>