<div class="container shopwrapper">
    <h3><%= @post.title %></h3>
    <div class="shopinfo">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            <% if @post.image.attached? %>
                <%= image_tag @post.image, class:"card-img-top" %>
            <% else %>
                <%= image_tag ("no_image.png"), class:"card-img-top" %>
            <% end %>
            </div>
            <div class="col-sm-12 col-md-6">
                評価：<%= @post.score %>
                <div class="shopinfo-header">
                    <div class="post-<%= @post.id %> shopinfo-like">
                        <%= render partial: 'shared/like', locals: {post: @post} %>
                    </div>&nbsp&nbsp
                    <div id="comments_area">
                        <i class="fas fa-comments"></i> <%= @comments.count %>
                    </div>&nbsp&nbsp
                    <div class="category-tag"><% @post.rest_type %>居酒屋</div>
                </div>
                <span class="shopupd"><%= @post.updated_at.strftime("%Y/%m/%d") %></span><br>
                <span class="shopadr"><%= @post.address %></span><br>
                <%= simple_format(h(@post.description), {}, sanitize: false, wrapper_tag:"div") %>
            </div>
            <div class="col-sm-12 mapdetail">地図</div>
        </div>
    </div>

    <div class="col-sm-12 commentlist">
        <h3 class="cmntlst-title"><i class="fas fa-comments"></i><br>口コミ一覧</h3>

    </div>
</div>
