<% provide(:title, "店舗詳細") %>
<div class="container shopwrapper">
    <h3 class="shoptitle"><i class="fas fa-utensils"></i> <%= @post.title %></h3>
    <div class="shop-linkbtn">
        <div class="shop-edit">
        <% if @post.user == current_user %>
            <%= link_to "編集",edit_community_post_path(@post.community,@post), class:"mini-green-link-btn font-bold text-line-none" %>
        <% end %>
        </div>
        <div class="shop-delete">
        <% if @post.user == current_user %>
            <%= link_to "削除", community_post_path(@post.community,@post), method: :delete, data:{ confirm: "投稿「#{@post.title}」を削除します。よろしいですか？" } ,class:"mini-red-link-btn font-bold text-line-none" %>
        <% end %>
        </div>
    </div>
    <div class="shopinfo">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            <% if @post.image.attached? %>
                <%= image_tag @post.image, class:"card-img-top" %>
            <% else %>
                <%= image_tag ("no_image.png"), class:"card-img-top" %>
            <% end %>
            </div>
            <div class="col-sm-12 col-md-6">
                評価：<%= @post.score %>
                <div class="shopinfo-header">
                    <div class="post-<%= @post.id %> shopinfo-like">
                        <%= render partial: 'shared/like', locals: {community: @post.community, post: @post} %>
                    </div>&nbsp&nbsp
                    <div id="comments_area">
                        <i class="fas fa-comments"></i> <%= @comments.count %>
                    </div>&nbsp&nbsp
                    <div class="category-tag"><%= user_code_name("2",@post.rest_type) %></div>
                </div>
                <span class="shopupd">更新日：<%= @post.updated_at.strftime("%Y-%m-%d") %></span><br>
                <span class="shopadr"><%= @post.address %></span><br>
                <%= simple_format(h(@post.description), {}, sanitize: false, wrapper_tag:"div") %>
            </div>
            <div class="col-sm-12 mapdetail">地図</div>
        </div>
    </div>
    <div class="col-sm-12 commentlist">
        <h3 class="cmntlst-title"><i class="fas fa-comments"></i><br>口コミ一覧</h3>
        <div class="order-link">
            <%= order_link_active('更新日順', community_post_path(@post.community), 'updated_at') %>
            <%= order_link_active('評価順', community_post_path(@post.community), 'score') %>
            <%= order_link_active('訪問日順', community_post_path(@post.community), 'visitday') %>
        </div>
        <div id="comments_area">
            <% @comments.each do |c| %>
                <div class="cmnt">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 cmntuser">
                            <% if c.user.image.attached? %>
                                <%= image_tag c.user.image, class:"card-img-top" %>
                            <% else %>
                                <p>写真</p>
                            <% end %>
                            <%= link_to "#{c.user.username}さん", user_path(c.user.id) %><br>
                        </div>
                        <div class="col-sm-12 col-md-7 cmntttl">
                            <%= c.updated_at.strftime("%Y-%m-%d") %><br>
                            <%= c.score %><br>
                            <%= c.title %>
                            <%= link_to "口コミの詳細を見る", community_post_comment_path(@post.community,@post,c), class: "cmnt-link" %>
                            <br>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<%= link_to '口コミ登録', new_community_post_comment_path(@post.community,@post), class: 'new-btn' %>