<h1>投稿の詳細</h1>
<div class="nav justify-content-end"><%= link_to '一覧',posts_path, class:'nav-link' %></div>
<table class="table table-hover">
    <tbody>
        <tr>
            <th>ユーザ名</th>
            <td><%= @post.user.username %></td>
        </tr>
        <tr>
            <th>店名</th>
            <td><%= @post.title %></td>
        </tr>
        <tr>
            <th>評価</th>
            <td><%= @post.score %></td>
        </tr>
        <tr>
            <th>口コミ</th>
            <td><%= simple_format(h(@post.description), {}, sanitize: false, wrapper_tag:"div") %></td>
        </tr>
        <tr>
            <th>都道府県</th>
            <td><%= @post.prefecture.name %></td>
        </tr>
        <tr>
            <th>エリア</th>
            <td><%= @post.area %></td>
        </tr>
        <tr>
            <th>料理ジャンル</th>
            <td><%= @post.rest_type %></td>
        </tr>
        <tr>
            <th>利用シーン</th>
            <td><%= @post.objective %></td>
        </tr>
        <tr>
            <th>こだわり条件</th>
            <td><%= @post.features %></td>
        </tr>
        <tr>
            <th>投稿日時</th>
            <td><%= @post.created_at %></td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td><%= @post.updated_at %></td>
        </tr>
        <tr>
            <% if @post.image? %>
            <th>画像</th>
            <td><%= image_tag @post.image.url %></td>
            <% end %>
        </tr>
    </tbody>
</table>
<div class="post-<%= @post.id %>">
    <%= render partial: 'shared/like', locals: {post: @post} %>
</div>
<h2>コメント一覧</h2>
<div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>

<% if user_signed_in? %>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    <br>
    <% if @post.user.user_id == current_user.user_id %>
        <%= link_to "編集",edit_post_path(@post),class:"btn btn-primary" %>
        <%= link_to "削除", @post, method: :delete, data:{ confirm: "投稿「#{@post.title}」を削除します。よろしいですか？" } ,class:"btn btn-danger" %>
    <% end %>
<% end %>