<% provide(:title, "グループ一覧") %>
<div class="container">
    <div class="row">
        <div class="communityindex col-12">
            <!-- グループ一覧 START -->
            <div class="container communities">
                <!-- 検索 START -->
                <div class="searchform container">
                    <%= search_form_for @search do |f| %>
                        <div class="row">
                            <div class="form-group cond1 col-sm-4 m-0">
                                <%= f.search_field :name_cont, class:"form-control" ,placeholder: "グループ名で探す "  %>
                            </div>
                            <div class="form-group cond3 col-sm-3 m-0">
                                <%= f.select( :sorts, {'並び替え': 'id asc', '作成日の新しい順': 'created_at desc', '作成日の古い順': 'created_at asc' }, {},{class: "form-control"}) %>
                            </div>
                            <div class="form-group cond_sbtn col-sm-2">
                                <%= f.submit "検索", class: 'sbtn' %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- 検索 END -->
                <div class="row">
                    <% @communities.each do |com| %>
                        <div class = "col-sm-6 col-md-4 col-lg-3 mb-5">
                            <!-- カード START -->
                            <div class="card">
                                <% if com.image.attached? %>
                                    <%= image_tag com.image, class:"community-img" %>
                                <% else %>
                                    <%= link_to community_path(com) do %>
                                        <%= image_tag ("no_image.png"), class:"community-img" %>
                                    <% end %>
                                <% end %>
                                <div class="card-body">
                                    <p class="card-title"><%= link_to com.name, community_path(com) %></p>
                                    <div class="card-text">
                                        <i class="fas fa-users"></i>&nbsp<%= community_member_calc(com) %>人
                                        &nbsp&nbsp<i class="fas fa-utensils"></i>&nbsp<%= com.posts.count %>店舗
                                        &nbsp&nbsp<i class="fas fa-comments"></i>&nbsp<%= community_comment_calc(com) %>件<br>
                                        <span class="font-size-mini">
                                            投稿が多いエリア：<%= post_type_most(com, '1') %><br> <!-- エリア -->
                                            投稿が多い店ジャンル：<%= post_type_most(com, '2') %><!-- 店タイプ -->
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- カード END -->
                        </div>
                    <% end %>
                </div>
                <div class="center">
                    <%= paginate @communities %>
                </div>
            </div>
            <!-- グループ一覧 END -->
            <div class="d-none d-md-block">
                <%= link_to new_community_path, class: 'new-btn' do %>
                    グループ<br>新規作成
                <% end %>
            </div>            
        </div>
    </div>
</div>