<% provide(:title, "グループ一覧") %>
<div class="container">
    <div class="row">
        <div class="communityindex col-12">
            <!-- グループ一覧 START -->
            <div class="container communities">
                <!-- タイトル START -->
                <h3 class="commulst-title"><i class="fas fa-users"></i>&nbsp公開グループ一覧</h3>
                <!-- タイトル END -->
                <!-- 検索 START -->
                <div class="searchform container">
                    <%= search_form_for @search do |f| %>
                        <div class="row">
                            <div class="form-group cond1 col-sm-7 m-0">
                                <%= f.search_field :name_cont, class:"form-control" ,placeholder: "グループ名で探す "  %>
                            </div>
                            <div class="form-group cond3 col-sm-3 m-0">
                                <%= f.select( :sorts, {'並び替え': 'id asc', '作成日の新しい順': 'created_at desc', '作成日の古い順': 'created_at asc' }, {},{class: "form-control"}) %>
                            </div>
                            <div class="form-group cond_sbtn col-sm-2">
                                <%= f.submit "検索", class: 'sbtn' %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- 検索 END -->
                <div class="center">
                    <%= paginate @communities %>
                </div>
                <div class="row">
                    <% @communities.each do |com| %>
                        <div class = "col-sm-6 col-md-4 col-lg-3 mb-5">
                            <%= render partial:'shared/communities', locals:{community: com} %>
                        </div>
                    <% end %>
                </div>
                <div class="center">
                    <%= paginate @communities %>
                </div>
            </div>
            <!-- グループ一覧 END -->
            <div class="d-none d-md-block">
                <%= link_to new_community_path, class: 'new-btn' do %>
                    新規作成
                <% end %>
            </div>            
        </div>
    </div>
</div>