<div class="container">
    <div class="row">
        <div class="communityindex col-12">
            <!-- 店一覧 START -->
            <div class="container shops">
                <div class="row">
                    <% @communities.each do |com| %>
                        <div class = "col-sm-12 col-md-12 col-lg-4 mb-5">
                            <!-- カード START -->
                            <div class="card">
                                <% if com.image.attached? %>
                                    <%= image_tag com.image, class:"card-img-top" %>
                                <% else %>
                                    <%= image_tag ("no_image.png"), class:"card-img-top" %>
                                <% end %>
                                <div class="card-body">
                                    <p class="card-title"><%= com.name %></p>
                                    <div class="card-text">
                                        <span><%= link_to "詳細", community_path(com), class: "card-link" %></span><br>
                                        <span><%= com.created_at.strftime("%Y/%m/%d") %></span><br>
                                    </div>
                                </div>
                            </div>
                            <!-- カード END -->
                        </div>
                    <% end %>
                </div>
                <div class="center">
                    <%= paginate @posts %>
                </div>
            </div>
            <!-- 店一覧 END -->
            <div class="d-none d-md-block">
                <%= link_to new_community_path, class: 'new-btn' do %>
                    グループ<br>新規作成
                <% end %>
            </div>            
        </div>
    </div>
</div>