<% provide(:title, "グループ詳細") %>
<div class="container community-show">
    <div class="row">
        <div class="communitydtl col-lg-3 col-xs-12 mb-2">
            <% if @community.image.attached? %>
                <%= image_tag @community.image, class:"community-img" %>
            <% else %>
                <%= image_tag ("no_image.png"), class:"community-img" %>
            <% end %>
            <div class="community-linkbtn">
                <div class="community-edit-btn">
                <% if @community.create_user == current_user %>
                    <%= link_to "編集",edit_community_path(@community), class:"mini-green-link-btn font-bold text-line-none" %>
                <% end %>
                </div>
                <div class="community-delete-btn">
                <% if @community.create_user == current_user %>
                    <%= link_to "削除", community_path(@community), method: :delete, data:{ confirm: "コミュニティ「#{@community.name}」を削除します。よろしいですか？" } ,class:"mini-red-link-btn font-bold text-line-none" %>
                <% end %>
                </div>
            </div>
            <!-- ログインユーザが当該コミュニティに所属している場合 -->
            <% if @community.user_belonging?(current_user) and @community.id != 1 %>
                <%= link_to '退会する', community_belonging_path(@community, @belonging), method: :delete, data:{ confirm: "コミュニティ「#{@community.name}」を退会します。よろしいですか？" } ,class:"mini-red-link-btn font-bold text-line-none" %>
            <!-- 当該コミュニティには所属していないが、ログインはしている場合 -->
            <% elsif current_user and @community.id != 1 %>
                <% if @apply %>
                    <%= link_to '申請取消', community_apply_path(@community, @apply), method: :delete, class: "mini-red-link-btn font-bold text-line-none" %>
                <% else %>
                    <%= link_to '加入申請', community_applies_path(@community), method: :post, class: "mini-green-link-btn font-bold text-line-none" %>
                <% end %>
            <% end %>
            <div class="mb-5">
                <p><%= @community.name %></p>
                <p><%= @community.description %></p>
            </div>
            <!-- 所属メンバー一覧 START -->
            <p>所属ユーザ一覧</p>
            <div class="container">
                <div class="row">
                    <% @belongings.each do |belonging| %>
                        <div class="col-xs-2 col-sm-3 col-lg-4">
                            <% if belonging.admin_flg == 1 %>
                                <span class="admin"><i class="fas fa-shield-alt"></i>管理者</span>
                            <% else %>
                                <p></p>
                            <% end %>
                            <% if belonging.user.image.attached? %>
                                <%= link_to belonging.user.image, user_path(belonging.user), class:"user-icon" %>
                            <% else %>
                                <%= link_to user_path(belonging.user) do %>
                                    <%= image_tag ("no_image.png"), class:"user-icon" %>
                                <% end %>
                            <% end %>
                            <span class="belong-username"><%= belonging.user.username %></span>
                        </div>
                    <% end %>
                </div>
                <% if user_admin_flg(current_user,@community) == 1 %>
                    <%= link_to "承認待ち一覧", community_applies_path(@community), class:"btn btn-primary" %>
                <% end %>
                <%= @community.impressionist_count %>
            </div>
            <!-- 所属メンバー一覧 END -->
        </div>
        <div class="communityindex col-lg-9 col-sm-12">
            <!-- 検索フォーム -->
            <div class="searchform container">
                <%= search_form_for @search, url: community_path(@community) do |f| %>
                    <div class="row">
                        <div class="form-group cond1 col-sm-4">
                            <%= f.search_field :title_or_user_username_cont, class:"form-control" ,placeholder: "店名またはユーザー名"  %>
                        </div>
                        <div class="form-group cond2 col-sm-3">
                            <%= f.collection_select( :prefecture_code_eq_any, JpPrefecture::Prefecture.all, :code, :name, {include_blank: '都道府県'}, {class: "form-control"}) %>
                        </div>
                        <div class="form-group cond2 col-sm-3">
                            <%= f.collection_select( :area_eq_any, @code.where(code_id: "1"), :code, :name, {include_blank: 'エリア'}, {class: "form-control"}) %>
                        </div>
                        <div class="form-group cond2 col-sm-3">
                            <%= f.collection_select( :prefecture_code_eq_any, @code.where(code_id: "2"), :code, :name, {include_blank: '料理ジャンル'}, {class: "form-control"}) %>
                        </div>
                        <div class="form-group cond3 col-sm-3">
                            <%= f.select( :sorts, {'並び替え': 'updated_at desc', 'いいねの多い順': 'likes_count desc', 'コメントの多い順': 'comments_count desc', '更新日の新しい順': 'updated_at desc', '更新日の古い順': 'updated_at asc' }, {},{class: "form-control"}) %>
                        </div>
                        <%= f.hidden_field :community_id, value: @community.id %>
                        <div class="form-group cond_sbtn col-sm-2 mt-2">
                            <%= f.submit "検索", class: 'sbtn' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <!-- 店一覧 START -->
            <div class="container shops">
                <div class="row">
                    <% @posts.each do |post| %>
                        <div class = "col-sm-12 col-md-12 col-lg-4 mb-5">
                            <!-- カード START -->
                            <div class="card">
                                <div class="category-tag m-0"><% post.rest_type %>居酒屋</div>
                                <% if post.image.attached? %>
                                    <%= image_tag post.image, class:"card-img-top" %>
                                <% else %>
                                    <%= image_tag ("no_image.png"), class:"card-img-top" %>
                                <% end %>
                                <div class="card-body">
                                    <p class="card-title"><%= post.title %></p>
                                    <div class="card-text">
                                        <span>
                                            <% if post.prefecture_code.present? %>
                                                <%= post.prefecture.name %>
                                            <% end %>
                                        </span><br>
                                        <span><%= post.area %></span>
                                        <span><%= link_to "詳細", community_post_path(post.community,post), class: "card-link" %></span><br>
                                        <span><%= post.updated_at.strftime("%Y/%m/%d") %></span><br>
                                        <span><i class="fas fa-comment-alt"></i> <%= post.comments.count %></span>
                                    </div>
                                    <div class="text-right" id="likes_buttons_<%= post.id %>">
                                        <%= render partial: 'shared/like', locals: {community: post.community, post: post} %>
                                    </div>
                                </div>
                            </div>
                            <!-- カード END -->
                        </div>
                    <% end %>
                </div>
                <div class="center">
                    <%= paginate @posts %>
                </div>
            </div>
            <!-- 店一覧 END -->
        </div>
    </div>
</div>
<div class="d-none d-md-block">
    <%= link_to '新規投稿', new_community_post_path(@community), class: 'new-btn' %>
</div>