<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/header" %>
      <br>
      <%= yield %>
      <div class="push"></div>
      <%= render "shared/footer" %>

      <script type="text/javascript">
        <% flash.each do |name, msg| %>
          <% name = "success" if name == "notice" %>
          <% name = "error" if name == "alert" %>
          toastr['<%= name %>']('<%= msg %>');
        <% end %>
      </script>
    </div>
  </body>
</html>
